
<div class="container">
<%= link_to 'Add a restaurant', new_restaurant_path  %>
<h1>Restaurants list</h1>

<%= @restaurants.each do |restaurant| %>
  <div>
    <h1><%= restaurant.name %></h1>
    <h2><%= restaurant.address %></h2>
    <h3><%= restaurant.category %></h3>
    <p><%= restaurant.phone_number %></p>
    <%= link_to 'More info here', restaurant_path(restaurant) %>
  </div>
<% end %>
</div>
